[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
coverage = "*"
flake8 = "*"
pytest-cov = "*"

[packages]
collectfast = "*"
dj-database-url = "*"
django = "==4.1.6"
django-debug-toolbar = "*"
django-s3-folder-storage = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pytest-django = "*"
python-decouple = "*"
remind = "*"
sentry-sdk = "*"

[requires]
python_version = "*"
